/* GLOBAL STYLES */

:root {
    --primaryDark: #000000;
    --primaryWhite: #ffffff;
    --mainColor: #25c2a0;
    --mainGrey: #f7f7f7;
    --heroColor: #efeded;
}

*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primaryWhite);
    color: var(--primaryDark);
}

a {
    text-decoration: none;
    color: var(--primaryDark);
}

a:hover {
    font-weight: 700;
    color: var(--mainColor);
}

li.nav-link:hover {
    color: var(--mainColor);
}

/* NAVBAR STYLES */

.nav-link {
    color: var(--primaryDark);
    font-weight: 600;
}

.nav-link:hover {
    color: var(--mainColor);
}

.navbar {
    background-color: var(--primaryWhite);
}

@media screen and (max-width: 768px) {
    .logo__img {
        margin-left: 10px;
    }
}

@media screen and (min-width: 767px) {
    .logo__img {
        margin-left: 50px;
    }
}
/* HERO SECTION STYLES */

.hero {
    height: fit-content;
}

.hero__btn {
    background-color: rgb(253, 242, 242);
    margin: auto 0;
    color: whitesmoke;
}

.hero__link {
    color: white;
    margin: 0 auto;
}

.herotext__container {
    background: none;
    align-items: center;
    text-align: center;
}

.hero__section {
    height: 522px;
    background-color: var(--heroColor);
    padding-left: 150px;
    padding-right: 150px;
}

br {
    display: none;
}

.hero__para {
    font-size: 55px;
    background: none;
    padding-top: 150px;
    line-height: 56px;
}

.small__text {
    background: none;
    font-size: 22px;
    font-weight: 400;
    margin: 0 2rem;
    margin-top: 40px;
}

i {
    background: none;
}

.hero__btn {
    margin-top: 40px;
    background-color: var(--mainColor);
    border: 0;
    font-size: 17px;
    height: 56px;
    width: 240px;
    color: var(--primaryWhite);
    font-weight: 600;
    border-radius: 70px;
}

.hero__imgs {
    margin-right: 0;
    margin-bottom: 5rem;
}

.hero__imgs img {
    width: 100%;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .hero__section {
        padding-right: 24px;
        padding-left: 24px;
        height: 450px;
    }

    br {
        display: flex;
    }

    .hero__para {
        padding-top: 80px;
        font-size: 34px;
    }

    .small__text {
        font-size: 1rem;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 60px;
    }

    .hero__btn {
        margin-top: 60px;
        height: 48px;
    }
}

@media screen and (max-width: 400px) {
    .small__text {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .hero__para {
        padding-top: 45px;
    }

    .hero__btn {
        margin-top: 30px;
    }

    .hero__section {
        height: 480px;
    }
}

/* COMMUNITY PAGE  STYLES */

.link__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.resource__heading {
    font-weight: 600;
}

.reason nav {
    position: relative;
}

.heading__span {
    margin-left: 20px;
}

.connect__link {
    padding: 0.5rem;
}

.card {
    box-shadow: 0.5px 0.5px 1px var(--mainGrey), 0.5px 0.5px 1px var(--mainGrey) !important;
}

@media screen and (max-width: 768px) {
    .resource {
        margin-bottom: 1rem;
    }
}

/* FOOTER SECTION STYLES */

li {
    list-style-type: none;
    background-color: #000000;
}

.footer__container {
    margin-top: 5rem;
    background-color: #000000;
    padding-top: 5rem;
    width: 100%;
}

.footer__para {
    width: 200px;
    font-weight: 500;
    background-color: #000000;
    color: var(--primaryWhite);
}

.copyright {
    font-weight: bold;
    background-color: #000000;
    color: var(--primaryWhite);
}

.footer__ul {
    background-color: #000000;
}

.copyright__container {
    background-color: #000000;
}

.footer__section {
    background-color: #000000;
}

.footer__heading {
    background-color: #000000;
    color: var(--primaryWhite);
}

.footer__link {
    color: var(--primaryWhite);
    font-weight: 400;
    background-color: #000000;
}

.footer__container .row {
    background-color: #000000;
}

.main__footer__container {
    background-color: #000000;
}

.footer__link:hover {
    color: var(--mainColor);
}

.footer__icon {
    font-size: 40px;
    border: #000000;
    background-color: #000000;
    fill: white;
}
@media screen and (max-width: 991px) {
    .main__footer__container .row {
        margin-left: 1rem;
    }
}

/* JUMBOTRON SECTION*/

.jumbotron {
    height: 300px;
    width: 100%;
    position: relative;
    background-color: var(--mainColor);
}

.jumbo__para {
    font-size: 30px;
    padding: 1.5rem 0 3rem 0;
    color: var(--primaryWhite);
    font-weight: 500;
    line-break: strict;
}

.jumbo__para br {
    display: flex;
}

.breadcrumb {
    font-size: 1rem;
    margin-left: 1rem;
    padding-top: 1rem;
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .jumbo__para br {
        display: none;
    }
}

/* RESOURCE CONTENT STYLES */

.resources__section {
    margin-top: 2rem;
}

.resources__row {
    margin: 2rem 1rem;
}

.resources__thumbnail {
    width: auto;
}

/* REASONS SECTION */
.reason {
    height: 44px;
    font-weight: 500;
    width: 44px;
    justify-content: center;
    font-size: 1.6rem;
    border-radius: 50%;
    background-color: #25c2a0;
    color: white;
}

.reason__container {
    display: flex;
    justify-content: flex-start;
}

.divider__container {
    height: 200px;
    background-image: url('./assets/sec-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* VALUE PROPOSITION  */

.icon__container {
    width: 600px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.icon__layout {
    align-items: center;
    justify-content: center;
    align-content: center;
}

.layout {
    width: 100px;
    margin: 0 auto;
}

.icon {
    margin: 10px 10px 10px 30px;
    font-size: 40px;
    fill: var(--mainColor);
}

.vp__text {
    font-weight: 500;
}

.info__text {
    width: 500px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .icon__container {
        width: auto;
    }

    .info__text {
        width: auto;
    }
}

/* 404 PAGE */

.error__text {
    margin-top: 17rem;
    font-size: 2rem;
}

.error__btn {
    width: 100px;
    padding: 0.5rem 1rem;
    color: var(--primaryWhite);
    background-color: var(--mainColor);
    border: none;
    margin: 100px auto;
}

@media screen and (max-width: 767px) {
    .error__text {
        margin-top: 5rem;
    }
}
