/* Global styles */
/* 
*1. #25c2a0
2. #606770
*/
*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
}

a {
    text-decoration: none;
}

a:hover {
    color: #25c2a0;
}

li.nav-link:hover {
    color: #25c2a0;
}
/* Navbar styles */

.nav-link {
    color: #fff;
    font-weight: 600;
}

.nav-link:hover {
    color: #25c2a0;
}

/* Styles for the hero section on the home page */

.hero {
    height: fit-content;
}

.hero__btn {
    background-color: rgb(253, 242, 242);
    margin: auto 0;
    color: whitesmoke;
}

.hero__link {
    color: white;
    margin: 0 auto;
}

/* Styles for the footer */

li {
    list-style-type: none;
}

.footer__container {
    height: 300px;
    margin-top: 10rem;
}

.footer__para {
    width: 180px;
}

.copyright {
    font-weight: bold;
}

.footer__link {
    color: white;
}

.footer__link:hover {
    color: #25c2a0;
}

/* Jumbotron styles */

.jumbotron {
    height: 309px;
    background-color: #25c2a0;
}

/* Resources content */
.resources__section {
    margin-top: 2rem;
}

.resources__row {
    margin: 2rem auto;
}

.resources__thumbnail {
    width: auto;
}
