/* Global styles */

:root {
    --primaryDark: #000000;
    --primaryWhite: #ffffff;
    --mainColor: #25c2a0;
}

*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primaryDark);
    color: var(--primaryWhite);
}

a {
    text-decoration: none;
    color: var(--primaryWhite);
    font-weight: 600;
}

a:hover {
    color: var(--mainColor);
}

li.nav-link:hover {
    color: var(--mainColor);
}
/* Navbar styles */

.nav-link {
    color: var(--primaryWhite);
    font-weight: 600;
}

.nav-link:hover {
    color: var(--mainColor);
}

/* Styles for the hero section on the home page */

.hero {
    height: fit-content;
}

.hero__btn {
    background-color: rgb(253, 242, 242);
    margin: auto 0;
    color: whitesmoke;
}

.hero__link {
    color: white;
    margin: 0 auto;
}

/* Styles for the communities page */

.link__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.connect__link {
    padding: 0.5rem;
}

.card {
    box-shadow: 1px 1px 2px var(--primaryWhite),
        -1px -1px 2px var(--primaryWhite) !important;
    background-color: var(--primaryDark);
}

/* Styles for the footer */

li {
    list-style-type: none;
}

.footer__container {
    height: 300px;
    margin-top: 10rem;
}

.footer__para {
    width: 180px;
}

.copyright {
    font-weight: bold;
}

.footer__link {
    color: var(--primaryWhite);
}

.footer__link:hover {
    color: var(--mainColor);
}

/* Jumbotron styles */

.jumbotron {
    height: 309px;
    background-color: var(--mainColor);
}

/* Resources content */
.resources__section {
    margin-top: 2rem;
}

.resources__row {
    margin: 2rem auto;
}

.resources__thumbnail {
    width: auto;
}
